.paper{
    width: 350px;
    background-color: #ebecf0 !important;
    margin-left: -5px;
}
@media screen and (max-width:480px) {
    .paper {
        width:120%;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        

    }
  }
@media screen and (max-width:480px) {
    .paper {
        width:110%;
        margin-left: 12px;
        justify-content: center;
        align-items: center;
        

    }
  }
