.container{
    display: flex;
    margin: 20px;
    padding: 10px;
    justify-content: space-between;
    
}
.typo{
   flex-grow: 1;
   font-size: '1.2rem';
   font-weight: bold;


}

.container:hover{
    background-color: #ddd;
}
